.navbar {
  background: #131921;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-box {
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #facc15;
}

.logout-btn {
  background: #dc2626;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #b91c1c;
}